body, html {
  height: 100%;
  margin: 0;
}

.main-bg {
  background-image: url("../images/pink.jpeg");
  min-height: 100vh;
}

.text {
  font-family: 'Quicksand';
  color: black;
  width: 100%;
  text-align: left;
  height: 50px;
  line-height: 50px;
  font-size: 75px;
  position: absolute;
  top: 0;
  bottom: 30vh;
  left: 30vh;
  margin: auto;
}

.text .content {
  display: inline;
}

.text .dash {
  display: inline-block;
  height: 3px;
  width:30px;
  background-color: #3498db;
  animation: blink .5s infinite linear;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(220, 196, 212,0.3);
}

.about-me-wrapper {
  display: -webkit-flex;
  display: flex;
  width: 100vw;
  height: auto;
  background-color: white;
}

.about-me {
  width: 50vw;
  height: auto;
  margin: 0;
  font-family: 'Raleway';
  font-size: 20px;
  padding: 30px;
}

.skills {
  width: 50vw;
  height: auto;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  font-family: 'Raleway';
  display: inline-block;
  margin-top: 0;
}

.skills > p:first-child {
  margin-top: 0;
}

.about-me-wrapper h1 {
  margin: 0;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 40px;
}

.skillbar {
  width: 100%;
  background-color: #ddd;
  color: #2196f3;
}

.skills-percentage {
  color: #2196f3;
}

.html {width: 70%; background-color: #2196F3}
.ruby {width: 70%; background-color: #2196F3}
.jquery {width: 70%; background-color: #2196F3}
.python {width: 40%; background-color: #2196F3}
.ui {width: 60%; background-color: #2196F3}
.management {width: 70%; background-color: #2196F3}

.projects {
  background-image: url("../images/plants.jpeg");
  min-height:40vh;
}
